*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 29, 29);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#box{
    width: 300px;
    height: 300px;
    background-color: pink;
    border: 4px solid white;
}

button{
    padding:20px 40px;
    background-color: rgb(85, 85, 230);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;

}