*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
}

main{
    color: blue;
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "div1 bottomup div2"
                         "div1 bottomdown div2";
    gap: 10px;
    padding: 10px;
}

header{
    background-color: aqua;
    grid-area: header;
}

section{
    background-color: pink;
    grid-area: section;
}

#div1{
    background-color: wheat;
    grid-area: div1;
}

#div2{
    background-color: yellow;
    grid-area: div2;
}

bottomup{
    background-color: magenta;
    grid-area: bottomup;
}

bottomdown{
    background-color: crimson;
    grid-area: bottomdown;
}