*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width:100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 25% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "aside section section"
                         "div1 div1 div1" ;
    padding:  1px 30px 1px 40px;
}

header{
    background-color:white;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header1{
    display: flex;
    padding: 3%;
}

#header1 h2{
    font-size: 30px;
    font-weight: 900;
}
#header2{
    display: flex;
    align-items: center;
    gap: 40px;
}

#header2 h4{
    color: black;
    opacity: 0.7;
}

#header3{
    display: flex;
    padding: 9%;
    gap: 10px;
}

#header3 button{
    height:45px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
}
#header3 button:nth-child(2)
{
     width: 125px;
    background-color: rgb(73, 73, 247);
    color: white;
    border: none;
}

#header3 button:nth-child(1)
{
     width: 90px;
    background-color: transparent;
    color: rgb(73, 73, 249);
    border: 2px solid rgb(73, 73, 249);
}

aside{
    background-color: rgb(248, 244, 244);
    grid-area: aside;
    text-align: center;
    padding: 6%;
    font-size: 50px;
    font-weight: 500;  
}

section{
    background-color: rgb(248, 244, 244);
    grid-area: section;
    padding: 4%;
}

#section1{
    color: black;
    font-size: 17px;
}

#section2{
    display: flex;
    gap: 10px;
}

#section2 button{
    height:40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    margin-top: 15px;
}

#section2 button:nth-child(1)
{
    width: 125px;
    background-color: rgb(73, 73, 247);
    color: white;
    border: none;
}

#section2 button:nth-child(2)
{
    width: 90px;
    background-color: transparent;
    color: rgb(73, 73, 249);
    border: 2px solid rgb(73, 73, 249);
}
#div1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: div1;
    overflow: hidden;
}

#div1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}

