*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
   
}

section{
    width: 100%;
    height: 95%;
    background-color: rgb(3, 13, 41);
    display: grid;
    grid-template-rows: 8% 35% 58% ;
    
}

#nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0.4% 6%;
}

#nav1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    font-size: 17px;
    
}

#nav1 h4{
    font-weight: 100;
    opacity: 0.6;
    color: white;
}



#bottom{
    padding: 2% 6%;
    display: flex;
    flex-wrap:nowrap;
    gap:18px;
}

#nav2{
    padding-top: 0.6%;
}

#nav2 button{
    width: 150px;
    padding: 7%;
    border-radius: 10px;
    color: black;
     border: 3px solid black;
    font-weight: 600;
    font-size: 13px;

}

#center{
    text-align: center;
    padding: 3%;
    color: white;
}

#center h1{
    font-size: 55px;
    font-weight: 400;
}

#center h5{
    font-size: 17px;
    font-weight: 400;
    margin: 15px;
    opacity: 0.8;

}

#bottom img{
    width:24%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
    
}

#nav1 h4:hover{
    opacity: 1;
}

#nav2 button:hover{
    border-radius: 30px;
    opacity: 0.8;
}