*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#box{
    width: 400px;
    height: 200px;
    background-color: rgb(182, 181, 181);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid white;
}

#box h1{
    font-size: 80px;
    color: white;
    font-weight: 900;
    
}

button{
    padding: 20px 30px;
    background-color: crimson;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 800;
}