*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(168, 195, 245);
    display: flex;
    padding: 30px;
    flex-wrap: nowrap;
    overflow: auto;
   
}

#card{
    width: 20%;
    height: 47%;
    background-color: rgb(227, 224, 224);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;

}

#card img{
    width: 70%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
    object-position: left;
}

#card h2{
    font-size: 30px;
    font-weight: 900;
    color: black;
    white-space: nowrap;
}

#card h3{
    font-size: 20px;
    font-weight: 700;
    color: crimson;
}

#card h5{
    font-size: 13px;
    text-align: center;
    color: rgb(102, 101, 101);
    opacity: 0.8;
}