*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(165, 194, 249);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 25%;
    height: 60%;
    background-color: rgb(230, 227, 227);
    padding: 25px;
    border-radius: 20px;
}

#card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

#card h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    font-weight: 600;
}

#card h5{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-size: 25px;
    text-align: center;
    margin-top:15px ;
    font-weight: 600;
}

#btns{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#card #btns button{
    padding: 12px 23px;
    background-color: rgb(102, 168, 146);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}