*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    widows: 100%;
    height: 100%;
}

main{
    widows: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1{
    color: white;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#cursor{
    width: 40px;
    height: 40px;
    position: absolute;
    background-color:white;
    border-radius: 50%;
    transition: all linear 0.2s;
    mix-blend-mode:difference;
}