*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
     justify-content: center;
   
}

#card{
    width: 30%;
    height: 80%;
    background-color: rgb(210, 207, 207);
    padding: 2%;
    border-radius: 10px;
        position: relative;
}
    

#card img{
    width: 100%;
    height: 80%;
    object-fit: cover;

}
    
    


#card h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
}
#card i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 100px;
    opacity: 0;
    transition: all ease 0.3s;
}