*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.elem{
    width: 100%;
    height: 20%;
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 600;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
    transition: all linear 0.3s;
    position: absolute;

}