*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #card{
    width:450px;
    height: 220px;
    background-color: rgb(244, 240, 240);
    padding:20px 40px;
    border-radius: 15px;
    text-align: center;
   
}

#outer{
    height: 17px;
    width: 100%;
    background-color: rgb(188, 186, 186);
    border-radius: 15px;
}

#inner{
    width:0%;
    height: 100%;
    background-color: green;
    border-radius: 15px;
}

p{
    font-size: 18px;
    font-weight: 400;
    font-family: monospace;

}

p span{
    color: blue;
}

#bottom{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#bottom h1{
    font-size: 50px;
    font-weight: 900;
    font-family: monospace;

}

#bottom button{
    padding:2px 35px;
    background-color: green;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

button:active{
    scale: 0.95;
}