*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    color: white;
    font-size: 24px;
}

button{
    padding: 20px 40px;
    background-color: crimson;
    border: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 10px;
}

button:active{
    padding: 30px 50px;
    border-radius: 0;
}