*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width:25%;
    height: 55%;
    background-color: white;
    padding: 1%;
    position: relative;

}

#container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

#container i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: white;
    font-size: 100px;
    opacity: 0;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 1s;
}