*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(140, 175, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.white{
    width: 40px;
    height: 170px;
    background-color: white;
    border: 0.2px solid rgb(207, 204, 204);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: black;
    text-align:bottom;
}

.black{
    width:30px; 
    height:120px;
    background-color:black;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 2;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align:center;
    
}

#blackinv{
    opacity: 0;
     width:30px; 
    height:120px;
    background-color:black;
     position: absolute;
    top: 0;
    left: 50px;
    z-index: 3;
    
}

#wrapper{
    position: relative;
}

.key{
    display: flex;
    align-items: flex-end;
    justify-content:  center;
    font-size: 14px;
}