*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width: 100%;
    height:100%;
    background-color: wheat;
}

#nav{
    
    width:100%;
    height:80px;
    padding: 30px 20px;
    
}

#nav a{
     color:black;
     text-decoration: none;
     margin-right: 15px;
     font-size: 20px;
}

#heading{
    height: 60%;
    width:100%;
    padding: 1% 0%;
}

#heading h1{
    color: black;
    font-size: 200px;
    font-weight: 400;
}

#btm1{
    width: 100%;
    height:180px;
    color: black;
    padding: 30px 20px;
}

#btm1 h4{
    font-size: 20px;
    font-weight: 600;
}

#btm1 p{
    padding-top: 10px;
    font-weight: 200;
}

#btm2{
    width: 100%;
    height:73px;
    padding-left:30px;
    padding-top: 15px;
    
}

#i3{
    width:200px;
    height: 300px;
    position:absolute;
    left: 60%;
    top:36%;
    border: 2px solid black;
}

#i1{
    width:200px;
    height: 300px;
    position:absolute;
    left: 70%;
    top: 15%;
    border: 2px solid black ;
}

#i2{
    width:200px;
    height: 300px;
    position:absolute;
    left: 70%;
    top: 55%;
    border: 2px solid black ;
}

