*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 95%;
    background-color: rgb(4, 4, 45);
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

#slide1 a{
    color: white;
    text-decoration: none;
    gap: 40px;
}