*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.allreels{
    width: 400px;
    height: 100vh;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    
}

.reel{
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    padding: 2%;
    


}

.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    
}

.bottom{
    position: absolute;
    color: white;
    bottom: 2%;
    left: 0%;
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.user{
    display:flex ;
    align-items: center;
   gap: 8px;
}

.user h3{
    font-size: 18px;
    font-weight: 600;
}

.user button{
    background-color: transparent;
    padding: 5px 12px ;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.bottom .caption{
    font-size: 16px;
    opacity: 0.8;
}

.right{
    position: absolute;
    right: 3%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.right i{
    color: white;
    font-size: 40px;
    font-weight: 100;
    opacity: 0.8;
}

.right h6{
    color: white;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 100;
}

.right .one{
    display: flex;
    flex-direction: column;
    align-items: center;
}



