*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    width: 100%;
    height: 12%;
    background-color:rgb(50, 48, 48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 0.1px solid  rgb(71, 69, 69);
    border-radius: 20px;
    
}

.top .topelem{
    width: 150px;
    height: 60px;
    background-color: rgb(43, 43, 43);
    white-space: nowrap;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   border-radius: 20px;

}

.board{
    background-color:rgb(33, 30, 30);
    width: 100%;
    height: 88%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
   
}

.block{
   
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(51, 50, 50);
}

.fill{
    background-color: white;
}

.food{
    background-color: crimson;
}

.modal1{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal1 h3{ 
    color: white;
    font-size: 50px;
    font-weight: 600;
    
}

.startgame,.restartgame{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.btn{
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: wheat;
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.btn:hover{
    scale: 1.1;
}

.restartgame{
    display: none;
}

