*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
}

h1{
    font-size: 150px;
    color: white;
}

button{
    background-color: crimson;
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid white;
}