*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;

}

#main{
    width:100%;
    height: 100%;
    background-image: url("https://imgs.search.brave.com/xPF7VMqQUkHWrbBtmETldnUcP9cXHZn8mIkOxBNRuuQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTE3/MTg4Njg4L3Bob3Rv/L21vdW50YWluLWxh/bmRzY2FwZS5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9QTYz/a29QS2FDeUl3UVdP/VEZCUldYal9Qd0Ny/UjRjRW9PdzJTOVE3/eVZsOD0");

}