*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;

}

#main{
    width:100%;
    height:100%;
    
}

#top{
    width:100%;
    height:250px;
    background-color: rgb(43, 43, 69);
    color: white;
    padding: 70px;
}

#top h1{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    

}

#top h6{
    text-align: center;
    font-size:20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 10px;
   
}

#aboutme{
    width:90%;
    height:200px;
    background-color: rgb(247, 243, 243);
    margin:35px 80px 35px 80px;
    border-radius: 20px;
    padding: 10px;
}

#aboutme h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 40px 50px 15px;
    text-transform: uppercase;
}

#aboutme p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

#education{
    width:90%;
    height:300px;
    background-color: rgb(223, 242, 249);
    margin:35px 80px 35px 80px;
    border-radius: 20px;
    padding: 10px;
}

#education #e1{
    width:55%;
    height:50px;
    margin:20px 120px 15px 330px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;
}

#education #e2{
    width:55%;
    height:50px;
    margin:1px 120px 50px 330px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;
}

#education h3{
    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 800;
    font-size: 30px;
    padding: 40px 50px 0px;
}

#skills{
    width:90%;
    height:450px;
    background-color: rgb(223, 242, 249);
    margin:35px 80px 35px 80px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(250, 250, 223);
}
#skills h3{
    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 800;
    font-size: 30px;
    padding: 50px 50px 0px;
}

#skills #s1{
    width:45%;
    height:50px;
    margin:20px 120px 15px 390px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;

}

#skills #s2{
    width:45%;
    height:50px;
    margin:20px 120px 15px 390px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;

}

#skills #s3{
    width:45%;
    height:50px;
    margin:20px 120px 15px 390px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;

}

#skills #s4{
    width:45%;
    height:50px;
    margin:20px 120px 15px 390px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;

}

#sk{
    text-transform: uppercase;
    font-weight: 600;
}

#projects{
    width:90%;
    height:400px;
    background-color: rgb(223, 242, 249);
    margin:35px 80px 35px 80px;
    border-radius: 20px;
    padding: 10px;
    background-color:rgb(250, 228, 250);
}

#projects h3{
    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 800;
    font-size: 30px;
    padding: 40px 50px 30px;
}

#projects div{
    width:45%;
    height:50px;
    margin:10px 120px 15px 390px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;

}

#contact{
    width:90%;
    height:400px;
    background-color: rgb(223, 242, 249);
    margin:35px 80px 35px 80px;
    border-radius: 20px;
    padding: 10px;
    background-color:rgb(207, 233, 233);
}
#contact h3{
    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 800;
    font-size: 30px;
    padding: 40px 50px 30px;
}

#contact div{
    width:45%;
    height:50px;
    margin:10px 120px 15px 390px;
    background-color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200px;
    text-transform: uppercase;
    font-weight: 500;
   

}



