*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(250, 212, 218);
    padding: 2%;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

#box{
   
    width: 25%;
    height: 45%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#box #bottom{
    width: 100%;
    height: 40%;
    background-color:black;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3%;
   
}

#box:hover #bottom{
    background: linear-gradient(transparent,rgb(84, 84, 84));
    transition: all ease 2s;
    border-radius: 20px;
    transform: translateY(-100%);
    
}

#box #bottom h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}

#box #bottom h3{
    color: white;
}

